<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
	<script src="annyang.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) { 
			if (annyang) {
			  // Let's define a command.
			  var commands = {
			    'hello': function() { alert('Hey! How are you?'); },
			    'goodbye': function() { alert('See you later!'); }
			  };

			  console.log(annyang.isListening())

			  // Add our commands to annyang
			  annyang.addCommands(commands);

			  // Start listening.
			  annyang.start();


			  annyang.addCallback('soundstart', function() {
			    console.log('sound detected');
			  });
			}
		});
	
	</script>
</head>
<body>

</body>
</html>